.event_card {
    margin-right: 5%;
    height: 400px;
    background-color: #181a19;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f9f871;
    border: 4px solid #f9f871;
}

.event_card * {
    padding: 0 10px 0 10px;

}

.event_img {
    height: 50%;
    border-radius: 10px 10px 0 0;
    padding: 0;
}

.arrow {
    display: flex;
    justify-content: flex-end;
}

.arrow img {
    width: 25%;
    height: 50px;
}
