body {
    background-color: #181a19;
    color: #c9cccb;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.EventList .slick-slider{
    width:90%;
    margin-left:5%;
}

.EventList .slick-next, .EventList .slick-prev {
    z-index: 2;
}

.EventList .slick-prev{
        left:-6%;
}
    .EventList .slick-next {
        right: -2%;
    }



    .EventList .slick-next::before, .EventList .slick-prev::before {
        font-size: 50px;
        color: #f9f871;
    }


@media (max-width:992px){
    .EventList .slick-next::before, .EventList .slick-prev::before {
        font-size: 30px;
    }
}

@media (max-width:660px) {
    .EventList .slick-slider {
        width: 80%;
        margin-left: 10%;
    }

    .EventList .slick-prev {
        left: -13%;
    }

    .EventList .slick-next {
        right: -5%;
    }
}
